In [ ]:
q1 = """SELECT * FROM movies.imdb_title_basics
JOIN imdb_title_ratings USING (tconst)"""

In [ ]:
# error code 2013 lost connection
q2 = """
SELECT * FROM movies.imdb_title_basics
JOIN imdb_title_ratings USING (tconst)
JOIN imdb_title_principals USING (tconst)
"""

to-do for 6.17 PM: 
- join name & principals by inspecting a few familiar titles
- filter basics table to select recently produced movies
- join movie name and budget --> profit!

Questions we can decide on: 
- do we want top box office or top profits? 
- how many films do we want to look at? 
- visualization scheme that makes sense for each data type

In [25]:
import pandas as pd
import numpy as np

In [26]:
import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')

In [27]:
df2 = pd.read_sql_query("""
SELECT primary_title, runtime_minutes, genres, averagerating, 
numvotes, ordering, category, job, characters, id, release_date, 
production_budget, domestic_gross, worldwide_gross, primary_name
FROM imdb_title_basics ba
JOIN imdb_title_ratings r ON ba.tconst = r.tconst
JOIN imdb_title_principals p ON p.tconst = ba.tconst
JOIN imdb_name_basics na ON na.nconst = p.nconst
LEFT JOIN movies.tn_movie_budgets bud ON bud.movie = ba.primary_title
""", con)

In [31]:
df2.head()

,primary_title,runtime_minutes,genres,averagerating,numvotes,ordering,category,job,characters,id,release_date,production_budget,domestic_gross,worldwide_gross,primary_name
0,Sunghursh,175.0,"Action,Crime,Drama",7.0,77,10,composer,,,NaN,None,None,None,None,Naushad
1,Sunghursh,175.0,"Action,Crime,Drama",7.0,77,1,actor,,"[""Kundan S. Prasad"",""Bajrangi""]",NaN,None,None,None,None,Dilip Kumar
2,Sunghursh,175.0,"Action,Crime,Drama",7.0,77,2,actress,,"[""Munni"",""Laila-E-Aasmaan""]",NaN,None,None,None,None,Vyjayanthimala
3,Sunghursh,175.0,"Action,Crime,Drama",7.0,77,3,actor,,"[""Ganeshi N. Prasad""]",NaN,None,None,None,None,Balraj Sahni
4,Sunghursh,175.0,"Action,Crime,Drama",7.0,77,4,actor,,"[""Dwarka N. Prasad""]",NaN,None,None,None,None,Sanjeev Kumar

In [18]:
df2.shape

(630744, 15)

In [14]:
df.to_csv('data/title_budgets.csv')

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630744 entries, 0 to 630743
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   primary_title      630744 non-null  object
 1   runtime_minutes    568730 non-null  float64
 2   genres             630744 non-null  object
 3   averagerating      630744 non-null  float64
 4   numvotes           630744 non-null  int64
 5   ordering           630744 non-null  int64
 6   category           630744 non-null  object
 7   job                630744 non-null  object
 8   characters         630744 non-null  object
 9   id                 27806 non-null   float64
 10  release_date       27806 non-null   object
 11  production_budget  27806 non-null   object
 12  domestic_gross     27806 non-null   object
 13  worldwide_gross    27806 non-null   object
 14  primary_name       630744 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 72.2+ MB