In [ ]:
q1 = """SELECT * FROM movies.imdb_title_basics
JOIN imdb_title_ratings USING (tconst)"""

In [ ]:
# error code 2013 lost connection
q2 = """
SELECT * FROM movies.imdb_title_basics
JOIN imdb_title_ratings USING (tconst)
JOIN imdb_title_principals USING (tconst)
"""

to-do for 6.17 PM: 
- join name & principals by inspecting a few familiar titles
- filter basics table to select recently produced movies
- join movie name and budget --> profit!

Questions we can decide on: 
- do we want top box office or top profits? 
- how many films do we want to look at? 
- visualization scheme that makes sense for each data type

In [2]:
import pandas as pd
import numpy as np

In [12]:
import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')

In [13]:
df = pd.read_sql_query("""
SELECT * FROM movies.tn_movie_budgets bud
JOIN imdb_title_basics ba ON bud.movie = ba.primary_title
JOIN imdb_title_ratings ra ON ba.tconst = ra.tconst;
""", con)

In [14]:
df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,tconst,primary_title,original_title,start_year,runtime_minutes,genres,tconst,averagerating,numvotes
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",tt1775309,Avatar,Abatâ,2011,93.0,Horror,tt1775309,6.1,43
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011,136.0,"Action,Adventure,Fantasy",tt1298650,6.6,447624
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",tt6565702,Dark Phoenix,Dark Phoenix,2019,113.0,"Action,Adventure,Sci-Fi",tt6565702,6.0,24451
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",tt2395427,7.3,665594
4,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",tt4154756,8.5,670926

In [15]:
df.shape

(2943, 15)

In [16]:
df.to_csv('data/title_budgets_ratings.csv')

In [1]:
df.info()

NameError: name 'df' is not defined